.homepage {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: start;
  padding-left: 1rem;
  gap: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

h2 {
  margin: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pagination button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #ff0000b1;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: #ccc;
  color: black;
}

.pagination .navigation-btn:disabled {
  opacity: 0;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .pagination button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #ff0000b1;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }

  .pagination-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
  }

  .pagination-list button {
    margin: 0.5rem 0.5rem;
    padding: 0.2rem 0.5rem;
    border: none;
    background-color: #ff0000b1;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: small;
  }
}
