.movie {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.movie-details {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: auto;
  gap: 1rem;
  place-content: center;
  position: relative;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.4;
  animation: zoomInOut 20s infinite ease-in-out;
  filter: contrast(120%);
}

.grid-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  text-shadow: 0 2px 2px #000;
}

.grid-left h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0;
  margin-top: 1rem;
  margin-left: 1rem;
}

.grid-left h2 {
  font-size: medium;
  margin-top: 1rem;
}
.grid-left p {
  margin: 0 2rem;
  font-size: small;
  color: #ffffffdf;
}

.movie-poster img {
  width: 13rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 5px;
}

.movie-poster {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.movie-poster h3 {
  color: #ffd904;
  width: 3rem;
  height: 3rem;
  background: transparent;
  padding: 5px 5px;
  border-radius: 50%;
  border: 2px solid #ffd904;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
}

.movie-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
}

.imdb-rating {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #ffd904;
}

.imdb-rating span {
  color: #fff;
}

.grid-right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.movie-info-right {
  width: 25rem;
  height: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 0 2px 2px #000;
  margin-bottom: 2rem;
  padding-right: 1rem;
}
@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}

/*********Movie conatiner**********/

.button-container {
  width: fit-content;
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
  align-items: center;
  gap: 1rem;
}

.button-1 {
  width: 140px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  border: none;
  background-color: #ff0000;
  transition: all 0.2s ease;
}
.button-1:hover {
  transform: scale(0.96);
}

.button-2 {
  width: 140px;
  height: 60px;
  position: relative;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  outline: none;
  border: 2px solid #fff;
  background-color: transparent;
  transition: all 0.2s ease;
}
.button-2:hover {
  transform: scale(0.96);
}
.button-2:before,
.button-2:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}
.button-2:focus:before {
  top: -70%;
  background-image: radial-gradient(circle, #ff0000 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #ff0000 20%, transparent 30%),
    radial-gradient(circle, #ff0000 20%, transparent 20%),
    radial-gradient(circle, #ff0000 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0000 15%, transparent 20%),
    radial-gradient(circle, #ff0000 20%, transparent 20%),
    radial-gradient(circle, #ff0000 20%, transparent 20%),
    radial-gradient(circle, #ff0000 20%, transparent 20%),
    radial-gradient(circle, #ff0000 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: topBubbles 1s ease;
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.button-2:focus::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #ff0000 20%, transparent 20%),
    radial-gradient(circle, #ff0000 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0000 15%, transparent 20%),
    radial-gradient(circle, #ff0000 20%, transparent 20%),
    radial-gradient(circle, #ff0000 20%, transparent 20%),
    radial-gradient(circle, #ff0000 20%, transparent 20%),
    radial-gradient(circle, #ff0000 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: bottomBubbles 1s ease;
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/********************* MEDIA QUERIES ************************/

@media screen and (max-width: 768px) {
  .movie-details {
    grid-template-columns: 1fr;
  }

  .grid-left {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    text-shadow: 0 2px 2px #000;
    text-align: center;
  }

  .grid-right {
    justify-content: center;
  }
  .movie-info-right {
    justify-content: start;
  }
  .movie-poster {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .movie-info-right {
    width: 100%;
    height: 100%;
    font-size: small;
    text-shadow: 0 2px 2px #000;
    padding: 0.5rem;
    text-align: center;
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 480px) {
  .movie-info-right {
    width: 100%;
    height: 100%;
    font-size: x-small;
    text-shadow: 0 2px 2px #000;
    padding: 0.5rem;
  }
  .movie-poster img {
    width: 8rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 5px;
  }

  .movie-poster {
    display: flex;
    gap: 1rem;
  }
}
