.movies-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  place-items: center;
}

/* Medium screens */
@media screen and (max-width: 1024px) {
  .movies-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Large screens */
@media screen and (max-width: 768px) {
  .movies-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
