.movies-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

/* Medium screens */
@media screen and (max-width: 1024px) {
  .movies-list {
    grid-template-columns: 1fr 1fr 1fr; /* 3 columns */
  }
}

/* Large screens */
@media screen and (max-width: 768px) {
  .movies-list {
    grid-template-columns: 1fr 1fr; /* 2 columns */
  }
}

/* Optional: For extra small screens (mobile) */
@media screen and (max-width: 480px) {
  .movies-list {
    grid-template-columns: 1fr; /* 1 column */
  }
}
