.navbar {
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  background-color: #101010;
  color: aliceblue;
  padding: 1rem 0.5rem;
  gap: 1rem;
}
.search {
  background: red;
}

.sidebar-close {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.sidebar-open {
  display: none;
}

/* #101010 */
