.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.App-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}
